HW5/venv/lib/python3.10/site-packages/torch/lib/libtorch_cpu.dylib
HW4/venv/lib/python3.10/site-packages/torch/lib/libtorch_cpu.dylib
HW6/venv/lib/python3.10/site-packages/torch/lib/libtorch_cpu.dylib
HW1/venv/
HW2/venv/
HW3/venv/
HW4/venv/
HW5/venv/
HW6/venv/
HW7venv/
